<h1>글 작성 페이지 입니다.</h1>
<form action="/post/create">
	<table>
		<tr>
			<td>제목: </td>
			<td><input type="text" name="title"></td>
		</tr>
		<tr>
			<td>내용: </td>
			<td><input type="text" name="content"></td>
		</tr>
	</table>
	<input type="submit">

</form>
